.jumbotron {
	background-image:url('http://wallcrusher.com/wp-content/uploads/2015/10/Hipster-Wallpaper-Iphone-177.jpg');
	        height: 500px;
		}

		.jumbotron .container {
		  position: relative;
		    top:100px;
		    }

		    .jumbotron h1 {
		      color: #fff;
		        font-size: 48px;  
			  font-family: 'Shift', sans-serif;
			    font-weight: bold;
			    }

			    .jumbotron p {
			      font-size: 20px;
			        color: #fff;
				}

				.learn-more {
				  background-color: #f7f7f7;
				  }

				  .learn-more h3 {
				    font-family: 'Shift', sans-serif;
				      font-size: 18px;
				        font-weight: bold;
					}

					.learn-more a {
					  color: #00b0ff;
					  }
